// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.login {
  position: relative;
  left: 30px;
}

.empty-cart {
  position: relative;
  top: 50px;
}

.product-title-shift {
  position: relative;
  left: 80px;
}

.entry-1, .entry-2, .entry-3, .entry-4, .entry-5 {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  width: 200px;
}

.entry-1 {
  border-color: #f00;
}
.entry-2 {
  border-color: #2f2;
}
.entry-3 {
  border-color: #00f;
}
.entry-4 {
  border-color: #dd0;
}
.entry-5 {
  border-color: #0dd;
}

.google-maps {
  // width: 80%;
  #googleMap {
    float: right;
    width: 50%;
    height: 91vh;
  }
}