// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.login {
  position: relative;
  left: 30px;
}

.empty-cart {
  position: relative;
  top: 50px;
}